
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="first-col">
        <ion-buttons>
          <ion-back-button mode="md" icon="chevron-back" defaultHref="#"></ion-back-button>
        </ion-buttons>
        <p id="name">Dr. Roman R</p>
        <p id="speciality">skin care specialist</p>
        <div class="rating">
          <div class="icon-back">
            <ion-icon name="star"></ion-icon>
          </div>
          <div class="text">
            <ion-label id="text-title">Ratings</ion-label>
            <ion-label id="text-number">4,5 From 5</ion-label>
          </div>
        </div>
        <div class="patients">
          <div class="icon-back">
            <ion-icon name="people"></ion-icon>
          </div>
          <div class="text">
            <ion-label id="text-title">Patient</ion-label>
            <ion-label id="text-number">120 +</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col class="second-col">
        <div class="photo-container">
          <img class="photo" src="assets/doctor.jpeg" alt="Specialist Photo"/>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="biograpahy">
    <ion-label id="title">Biograpahy</ion-label>
    <p id="text">
      Dr. Roman Reigns received his specialist degree after completing his education at the University of Indonesia..
      <span id="text-link"><br><a>Read More</a></span>
    </p>
  </div>

  <div class="schedule">
    <ion-label id="title">Schedule</ion-label>
    <div class="schedule-blocks">
      <div class="f-block">18 <br><span id="day">Thu</span></div>
      <div class="block">17</div>
      <div class="block">18</div>
      <div class="block">19</div>
    </div>
  </div>

  <div class="final-button">
    <ion-button expand="block">Make an Appoinment
      <ion-icon class="icon1" name="chevron-forward"></ion-icon>
      <ion-icon class="icon2" name="chevron-forward"></ion-icon>
      <ion-icon class="icon3" name="chevron-forward"></ion-icon>
    </ion-button>
  </div>

</ion-content>
